<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.chengyunlai.mapper.DepartmentMapper">
    <resultMap id="department" type="department">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="tel" column="tel"/>
    </resultMap>

    <resultMap id="userMap" type="department">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="tel" column="tel"/>
        <!--一对多-->
        <collection property="users" ofType="user"
                    select="top.chengyunlai.mapper.UserMapper.findAllByDepartmentId" column="id"/>
    </resultMap>

    <!--公共部分继承就好了-->
    <resultMap id="userMapExtend" type="department" extends="department">
        <!--一对多-->
        <collection property="users" ofType="user"
                    select="top.chengyunlai.mapper.UserMapper.findAllByDepartmentId" column="id"/>
    </resultMap>

    <!--constructor封装有参构造-->
    <resultMap id="departmentWithConstructor" type="Department">
        <constructor>
            <idArg column="id" javaType="String" name="idd"/>
        </constructor>
        <result property="name" column="name"/>
        <result property="tel" column="tel"/>
    </resultMap>

    <cache/>

    <insert id="save" parameterType="department">
        insert into tbl_department (id, name, tel) values (#{id}, #{name}, #{tel});
    </insert>

    <select id="findAll" resultMap="userMapExtend" resultSetType="SCROLL_INSENSITIVE">
        select * from tbl_department;
    </select>
    <select id="findById" resultType="department" parameterType="string">
        SELECT * FROM tbl_department
        WHERE id = #{id}
    </select>

    <select id="findAll2" resultMap="departmentWithConstructor">
        select * from tbl_department;
    </select>
</mapper>